@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

@font-face {
	font-family: "Akrobat-Light";
	src: url("../fonts/Akrobat-Light.eot");
	src: url("../fonts/Akrobat-Light.eot??#iefix") format("embedded-opentype"),
		url("../fonts/Akrobat-Light.woff2") format("woff2"),
		url("../fonts/Akrobat-Light.woff") format("woff"),
		url("../fonts/Akrobat-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Akrobat-Regular";
	src: url("../fonts/Akrobat-Regular.eot");
	src: url("../fonts/Akrobat-Regular.eot") format("embedded-opentype"),
		url("../fonts/Akrobat-Regular.woff2") format("woff2"),
		url("../fonts/Akrobat-Regular.woff") format("woff"),
		url("../fonts/Akrobat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Akrobat-SemiBold";
	src: url("../fonts/Akrobat-SemiBold.eot");
	src: url("../fonts/Akrobat-SemiBold.eot") format("embedded-opentype"),
		url("../fonts/Akrobat-SemiBold.woff2") format("woff2"),
		url("../fonts/Akrobat-SemiBold.woff") format("woff"),
		url("../fonts/Akrobat-SemiBold.ttf") format("truetype");
}

/* general styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-image: url(/images/hexagonal-background_w400xh3189.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
html,
body {
	margin: 0;
	padding: 0;
}
.sr-only {
	display: none;
}

h1,
h2,
h3,
h5 {
	text-shadow: 2px 2px 6px rgb(109, 109, 109, 0.5);
}

h1,
h3,
h6 {
	color: #132a7e;
}
h1,
h3 {
	font-size: 2rem;
}
h6 {
	font-size: 1.4rem;
}

h2,
h4,
h5 {
	color: #ffffff;
}
h2 {
	text-transform: uppercase;
	font-size: 2.2rem;
}
h2 span {
	text-transform: none;
}
h5 {
	font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
.details-meta-container {
	font-family: "Akrobat-Light", "Segoe UI", "Helvetica Neue", sans-serif;
}
a.go-to-link {
	text-align: center;
	text-decoration: none;
}
a.go-to-link:hover {
	color: #28282a;
	text-decoration: underline;
	text-decoration-color: #28282a;
}
a.go-to-link:active {
	color: #132a7e;
	text-decoration-color: #132a7e;
}

button {
	cursor: pointer;
	border: none;
	width: 100%;
	max-height: 44px;
	font-size: 1.2rem;
	font-family: "Akrobat-SemiBold", "Segoe UI", "Helvetica Neue", sans-serif;
	text-align: center;
}

.submit-button {
	background: url(/images/button\ gold\ 240x44.svg) no-repeat center;
	width: 240px;
	padding: 1.2rem 3rem 2.8rem;
}
.view-more-button {
	background: url(/images/button\ blue\ 140x44.svg) no-repeat center;
	width: 140px;
	color: #fff;
	margin: 0.8rem auto 0;
	padding: 0.8rem 2rem;
}
.load-more-button {
	background: url(/images/button\ blue\ 240x44.svg) no-repeat center;
	width: 320px;
	height: 44px;
	color: #fff;
	margin: 1rem auto 2rem;
	padding: 1.5rem 4rem 3rem;
}
.load-more-button:hover {
	background: url(/images/button\ gold\ 240x44.svg) no-repeat center;
	width: 400px;
	min-height: 44px;
	padding: 1.5rem 4rem 3rem;
	color: rgba(40, 40, 42, 1);
	text-decoration: underline;
}

.load-more-button:active {
	color: #fff;
	text-decoration-color: #fff;
}
.load-more-button:disabled {
	display: none;
}

.view-more-button:hover {
	background: url(/images/button\ white\ 140x44.svg) no-repeat center;
	color: #28282a;
}

.submit-button:hover {
	background: url(/images/button\ blue\ 240x44.svg) no-repeat center;
	color: #fff;
}

button:active {
	text-decoration: underline;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Akrobat-Regular", "Segoe UI", "Helvetica Neue", sans-serif;
	font-size: 17px;
	overflow-x: hidden;
}

header {
	background: url(/images/hexagonal-header-banner-background_mobile_w800xh420.jpg)
		no-repeat center;
	width: 100%;
	min-height: 420px;
	display: flex;
	flex-direction: column;
}

form.newsalert-sign-up-form form#newsalert-sign-up-form-three {
	margin: 0.6rem auto 0;
	width: 100%;
	height: 140px;
	max-width: 280px;
}

.form-note {
	color: rgb(252, 224, 157);
	font-size: 0.8rem;
}
.form-error {
	display: none;
	color: rgb(187, 3, 3);
	font-size: 0.8rem;
}
input {
	color: #6d6d6d;
	width: 100%;
}
input .sign-up-email:focus {
	color: rgba(40, 40, 42);
}
.fas.fa-check {
	color: rgb(6, 177, 6);
	margin-right: 0.1rem;
	margin-left: -0.6rem;
}

.col-logo a img {
	height: auto;
	width: 180px;
}
.col-logo {
	width: 95%;
	align-self: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.col-logo-image-wrap {
	width: 60%;
}
.col-logo-menu-wrap {
	width: 30%;
	height: auto;
}

.col-heading {
	text-align: center;
	align-self: center;
	width: 90%;
}

div.col-3.newsalert-sign-up-block {
	display: flex;
	flex-direction: column;
	width: 85%;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1.5rem auto 0;
}

.back-link-container {
	width: 100%;
	background: rgba(0, 0, 0, 1);
	padding: 0.4rem 0 0.4rem 1rem;
}
.fas.fa-chevron-left {
	color: #fce09d;
	padding-right: 0.4rem;
}
.back-link {
	text-decoration-color: #fff;
}
.back-link h4:hover {
	color: rgb(252, 224, 157);
	text-decoration-color: rgba(252, 224, 157, 1);
}
.back-link h4:active {
	color: rgba(255, 255, 255, 1);
	text-decoration-color: rgba(255, 255, 255, 1);
}

.errorMessage,
.sign-up-emailError,
.validationErrorMessage {
	border: 4px ridge rgb(233, 4, 4);
	color: rgb(187, 3, 3);
}
.errorMessage,
.validationErrorMessage,
.successMessage {
	background: rgba(252, 252, 252, 1);
	padding: 1.5rem 2rem;
	margin: 2rem auto;
	width: 70%;
	max-width: 600px;
}

.successMessage,
.form-success {
	border: 4px ridge rgb(0, 185, 0);
	color: rgb(2, 94, 29);
}
.form-success,
.sign-up-emailError {
	background: rgba(252, 252, 252, 1);
	padding: 0.5rem;
	margin: 0.5rem auto 0;
	width: 100%;
	font-size: 0.9rem;
}

/*------------------- Menu Menu Styles -------------------*/
.nav-container {
	width: 100%;
	background: rgba(0, 0, 0, 1);
	padding: 1rem 0 0.3rem 1rem;
}

ul.main-nav {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}
.main-nav li {
	margin-right: 1.5rem;
}
.main-nav li a {
	color: rgba(252, 252, 252, 1);
}
.main-nav li a:hover {
	color: rgba(252, 224, 157, 1);
	text-decoration: none;
}
.main-nav li a:active {
	text-decoration: underline;
}
.main-nav li a.current-page {
	color: rgba(252, 224, 157, 1);
}

#sidebarMenu {
	height: 40%;
	position: absolute;
	right: 0;
	width: 200px;
	margin-top: 4rem;
	transform: translateX(250px);
	transition: transform 250ms ease-in-out;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 40%,
		rgba(252, 224, 157, 1) 60%
	);
}

.sidebarMenuInner {
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(40, 40, 42, 0.1);
}

.sidebarMenuInner li {
	list-style: none;
	color: rgba(255, 255, 255, 1);
	padding: 1rem;
	cursor: pointer;
	border-bottom: 1px solid rgba(252, 252, 252, 0.5);
}

.sidebarMenuInner li a {
	color: rgba(252, 252, 252, 1);
	cursor: pointer;
	text-decoration: none;
}
.sidebarMenuInner li a:hover {
	text-decoration: underline;
	color: rgba(252, 224, 157, 1);
}
.sidebarMenuInner li a:active {
	text-decoration: underline;
	color: rgba(252, 252, 252, 1);
}

.sidebarMenuInner li:hover {
	text-decoration: none;
	border-bottom: 2px solid rgba(252, 252, 252, 1);
	border-top: 1px solid rgba(252, 252, 252, 1);
}
.sidebarMenuInner li:active {
	border: 2px solid rgba(252, 252, 252, 1);
}

.headerHamburgerMenu {
	display: contents;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
	transform: translateX(0);
}

input[type="checkbox"] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.sidebarIconToggle {
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	top: 2rem;
	right: 2rem;
	height: 44px;
	width: 44px;
	display: inline-block;
}

.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}

.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: right;
	margin: 0.4rem 0;
	padding: 2px;
}

.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: right;
	padding: 2px;
}

.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: right;
	padding: 2px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 4px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -20px;
}

/*___________________End Hamburger Menu Styles ________________*/

/*------- Countdown Timer Styles --------*/

.countdown-block-container {
	font-family: "Chakra Petch", "Segoe UI", "Helvetica Neue", sans-serif;
	color: rgba(40, 40, 42);
	margin: 2rem auto 1rem;
	text-align: center;
	width: 100%;
	min-height: 100px;
}

#countdown li {
	display: inline-block;
	font-size: 0.8rem;
	text-shadow: 1px 1px 2px rgba(109, 109, 109, 1);
	padding: 0 0.3rem;
	text-transform: uppercase;
}

#countdown li span {
	display: block;
	font-size: 3rem;
	color: rgba(40, 40, 42);
	text-shadow: 1px 1px 2px rgba(109, 109, 109, 1);
}

.message {
	font-size: 4rem;
}

#content {
	display: none;
	padding: 1rem;
}

.launchday {
	padding: 0 0.25rem;
}
/*_________________ end countdown timer styles _______________*/

/*--------------- video block styles ---------------*/

.video-block-container {
	width: 100%;
	height: 100%;
}

.jwst-intro-video {
	width: 100%;
	height: auto;
}
/*_________________ end video styles ________________________*/

/*---------------- Newsalert Form, Text Block & API Block Styles ---------------------*/

.hr-line {
	border: 1px solid rgba(19, 42, 126);
	width: 100%;
	margin: 4rem 0;
}

.text-block-text {
	margin: 2rem 0 3rem;
}
.text-block-text p {
	margin: 1rem 0;
}
#sign-up-text {
	font-family: "Akrobat-SemiBold", "Segoe UI", "Helvetica Neue", sans-serif;
	text-shadow: 1px 1px 2px rgba(109, 109, 109, 0.5);
}

.newsalert-sign-up-form,
.text-block-newsalert-sign-up-form {
	display: flex;
	flex-direction: column;
	color: #fff;
	margin: 0;
	justify-items: center;
	align-items: center;
}

.text-block-newsalert-sign-up-form {
	text-align: center;
	padding: 1rem;
	border: 2px ridge rgba(255, 255, 255, 0.5);
	background: rgba(40, 40, 42, 1);
	max-width: 320px;
	height: 250px;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.api-results-container-homepage,
.api-results-container {
	margin: 2rem auto 4rem;
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.details-result-container {
	width: 95%;
	background: rgba(40, 40, 42, 1);
	min-height: 500px;
	max-width: 950px;
	margin: 3rem auto;
	padding: 2rem 1rem;
}
.details-info-container h1 {
	color: rgba(255, 255, 255, 1);
}
.details-meta-container {
	margin: 1rem 0 2rem;
	color: rgba(252, 224, 157, 0.6);
	font-size: 0.8rem;
	line-height: 1.5rem;
	padding-left: 1rem;
}
p span {
	text-decoration: underline;
	padding-right: 0.3rem;
	color: #fce09d;
}
.details-image-container {
	width: 100%;
	min-height: 150px;
	max-width: 500px;
	margin-bottom: 2rem;
}
.details-image {
	width: 100%;
	max-width: 500px;
	height: auto;
	border: 0.5px ridge rgba(255, 255, 255, 0.5);
}

.details-description-container {
	background: rgba(252, 252, 252, 1);
	padding: 1.5rem 1rem;
	line-height: 1.6rem;
	min-height: 100px;
}
.details-description-container p {
	padding: 1rem 0 2rem;
	text-indent: 2%;
}

ul.api-list-homepage {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	flex: 1;
}
ul.api-list-homepage li {
	justify-content: center;
}

li.api-list-item-homepage {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	justify-items: center;
	align-items: center;
	padding: 1rem;
	margin: 1rem auto;
	max-width: 320px;
	height: 400px;
	background: rgba(40, 40, 42, 1);
	border: 2px ridge rgba(255, 255, 255, 0.5);
	width: 100%;
}

.api-list-item-homepage-thumbnail {
	max-width: 100%;
	max-height: 220px;
	margin-bottom: 1.5rem;
	border: 0.5px ridge rgba(255, 255, 255, 0.5);
}

.text-block-container,
.api-gallery-homepage,
.api-gallery,
.link-block-container {
	width: 100%;
	margin: 3rem auto;
	padding: 0 1rem;
}

div.nasa-link-container,
div.jwst-link-container,
div.contact-link-container {
	text-align: center;
	position: relative;
	margin: 3rem auto;
}
.link-flexbox-wrap {
	margin-bottom: 5rem;
}

a.link-block-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Akrobat-Semibold", "Segoe UI", "Helvetica Neue", sans-serif;
	text-shadow: 1px 1px 3px rgb(255, 255, 255, 0.8);
	font-size: 1.2rem;
	background: rgb(255, 236, 182, 0.85);
	color: #28282a;
	width: 100%;
	max-width: 242px;
	height: 80px;
	padding: 1.5rem 0.5rem;
}

a.link-block-link:hover {
	color: #28282a;
	text-decoration: none;
	background: rgb(255, 255, 255, 0.85);
	border: 1px solid rgb(40, 40, 42);
}
a.link-block-link:active {
	border: 2px solid rgb(40, 40, 42);
	background: rgb(255, 255, 255, 0.85);
	text-decoration: underline;
}

/*-------------------- Loader styles ----------------------*/

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem auto;
	min-height: 200px;
}

.loader-size {
	position: absolute;
	width: 90px;
	height: 51px;
}

.loader-size:nth-of-type(2) {
	transform: rotate(60deg);
}
.loader-size:nth-of-type(3) {
	transform: rotate(-60deg);
}

.loader-size .loader-loading {
	width: 100%;
	height: 100%;
	position: relative;
}

.loader-size .loader-loading span {
	position: absolute;
	width: 4px;
	height: 0%;
	background: rgba(252, 224, 157, 1);
	z-index: 999999;
}

.loader-h1 {
	left: 0;
	animation: load1 7.2s ease infinite;
}
.loader-h2 {
	right: 0;
	animation: load2 7.2s ease 0.6s infinite;
}
.loader-h3 {
	right: 0;
	animation: load3 7.2s ease 1.2s infinite;
}
.loader-h4 {
	right: 0;
	animation: load4 7.2s ease 1.8s infinite;
}
.loader-h5 {
	left: 0;
	animation: load5 7.2s ease 2.4s infinite;
}
.loader-h6 {
	left: 0;
	animation: load6 7.2s ease 3s infinite;
}

@keyframes load1 {
	0% {
		bottom: 0;
		height: 0;
	}
	6.944444444% {
		bottom: 0;
		height: 100%;
	}
	50% {
		top: 0;
		height: 100%;
	}
	59.944444433% {
		top: 0;
		height: 0;
	}
	/*   91.6666667%{top:0;height:0%;} */
}

@keyframes load2 {
	0% {
		top: 0;
		height: 0;
	}
	6.944444444% {
		top: 0;
		height: 100%;
	}
	50% {
		bottom: 0;
		height: 100%;
	}
	59.944444433% {
		bottom: 0;
		height: 0;
	}
	/*   91.6666667%{bottom:0;height:0%} */
}

@keyframes load3 {
	0% {
		top: 0;
		height: 0;
	}
	6.944444444% {
		top: 0;
		height: 100%;
	}
	50% {
		bottom: 0;
		height: 100%;
	}
	59.94444443% {
		bottom: 0;
		height: 0;
	}
	/*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load4 {
	0% {
		top: 0;
		height: 0;
	}
	6.944444444% {
		top: 0;
		height: 100%;
	}
	50% {
		bottom: 0;
		height: 100%;
	}
	59.94444443% {
		bottom: 0;
		height: 0;
	}
	/*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load5 {
	0% {
		bottom: 0;
		height: 0;
	}
	6.944444444% {
		bottom: 0;
		height: 100%;
	}
	50% {
		top: 0;
		height: 100%;
	}
	59.94444443% {
		top: 0;
		height: 0;
	}
	/*   91.6666667%{top:0;height:0%;} */
}

@keyframes load6 {
	0% {
		bottom: 0;
		height: 0;
	}
	6.944444444% {
		bottom: 0;
		height: 100%;
	}
	50% {
		top: 0;
		height: 100%;
	}
	59.94444443% {
		top: 0;
		height: 0;
	}
	/*   91.6666667%{top:0;height:0%;} */
}
/*______________________ end loader styles __________________*/

/*_________________________ end api styles ___________________*/

/*------------------------- footer styles --------------------*/

footer {
	background: url(/images/hexagonal-footer-banner-background_w500xh520.jpg)
		no-repeat center;
	width: 100%;
	min-height: 520px;
	padding: 2rem 2rem 0.5rem;
	text-align: center;
}
div.footer-flexbox {
	margin: 0 auto;
}

.back-to-top {
	margin: 0 auto 3rem;
	width: 100%;
}
.back-to-top h4 {
	font-size: 1.2rem;
	text-decoration: underline;
}

.back-to-top a {
	text-decoration: none;
}

.fas.fa-arrow-up {
	color: #fce09d;
	font-size: 1.6rem;
	padding-left: 0.2rem;
}

.col-copyright {
	margin-top: 3.5rem;
	width: 85%;
}
.col-copyright p {
	color: #ffffff;
	text-align: left;
	margin: 1.5rem auto 0;
	font-size: 0.8rem;
}

/*___________________________ end footer styles _______________*/

/*----------------- JWST Gallery Styles -----------------------*/

.jwst-image {
	background: url(/images/header-image-webb_400x107.jpg) no-repeat center;
	min-height: 107px;
	width: 100%;
}

.api-gallery {
	text-align: center;
}
/*___________________________ end JWST Gallery styles _______________*/

/*----------------- Contact us - Styles -----------------------*/

.contact-page-background-image {
	height: 1014px;
	width: 100%;
	background-image: url(/images/contact-us_background-image_1920x1014.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	margin: 3rem auto 12rem;
	border-top: 0.5rem ridge rgba(40, 40, 42, 1);
	border-bottom: 0.5rem ridge rgba(40, 40, 42, 1);
}

.contact-us-header-text {
	width: 80%;
	text-align: center;
	margin: 3rem auto 0;
	color: rgba(40, 40, 42, 1);
}
.contact-us-header-text span {
	text-shadow: 1px 1px 2px rgba(252, 224, 157, 0.5);
}

#contact-us-form .form-note,
#contact-us-form .note,
.far.fa-envelope,
.far.fa-comment-dots {
	color: rgba(19, 42, 126, 1);
	text-shadow: 1px 1px 2px rgba(252, 224, 157, 0.5);
	font-size: 0.9rem;
}
#contact-us-form .form-note,
#contact-us-form .note {
	font-family: "Akrobat-SemiBold", "Segoe UI", "Helvetica Neue", sans-serif;
}
#contact-us-form .form-note {
	font-size: 1rem;
}
.contact-us-form-container {
	max-width: 760px;
	margin: 4rem auto 0;
}

#contact-us-form {
	padding: 3rem 2rem;
	background: rgba(109, 109, 109, 0.8);
}

#contact-us-form input,
.newsalert-sign-up-form input {
	width: 100%;
	margin-top: 2px;
	padding: 10px;
}
.newsalert-sign-up-form input {
	max-width: 200px;
}

#contact-us-form label,
.newsalert-sign-up-form label {
	display: block;
}
#contact-us-form label {
	margin-top: 1rem;
}

#contact-form-button {
	background: url(/images/button\ blue\ 140x44.svg) no-repeat center;
	border: none;
	width: 200px;
	padding: 0.8rem 2rem 2.4rem;
	color: white;
	margin-top: 2rem;
	cursor: pointer;
}

textarea#comment {
	width: 100%;
	min-height: 200px;
	display: block;
	padding: 1rem 0.5rem;
	line-height: 1.6rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	text-align: left;
}

textarea:invalid {
	border: 2px solid red;
}
textarea:invalid:required {
	border: rgba(252, 224, 157, 1);
}

/*___________________________ end Contact us - styles _______________*/

/*--------- @media - styles --------*/

@media all and (max-width: 280px) {
	h2 {
		font-size: 1.8rem;
	}
	#countdown li {
		font-size: 0.8rem;
		padding: 0 0.2rem 0.8rem;
	}

	#countdown li span {
		font-size: 2rem;
	}
	.countdown-block-container {
		min-height: 50px;
	}
	footer {
		padding-top: 0.5rem;
	}
	.back-to-top {
		margin: 0 auto 1.5rem;
		width: 100%;
	}

	.back-to-top h4 {
		font-size: 1.2rem;
	}

	.col-copyright {
		margin-top: 2.5rem;
		font-size: 0.6rem;
	}
}
@media all and (min-width: 400px) {
	html {
		height: 100%;
		background-image: url(/images/hexagonal-background_w800xh3189.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.jwst-image {
		background: url(/images/header-image-webb_600x161.jpg) no-repeat center;
		min-height: 161px;
	}
	#countdown li {
		font-size: 0.8rem;
		padding: 0 0.5rem;
	}

	#countdown li span {
		font-size: 3.5rem;
	}
	.countdown-block-container {
		min-height: 120px;
	}
	.text-block-container,
	.api-gallery-homepage,
	.api-gallery,
	.link-block-container {
		width: 90%;
	}
}
@media all and (min-width: 500px) {
	.jwst-image {
		background: url(/images/header-image-webb_800x214.jpg) no-repeat center;
		min-height: 214px;
	}
	#countdown li {
		font-size: 1rem;
		padding: 0 1rem;
	}

	#countdown li span {
		font-size: 4rem;
		text-shadow: 2px 2px 4px rgba(109, 109, 109, 1);
	}
	.api-results-container-homepage,
	.api-results-container {
		flex-flow: row wrap;
	}
	.api-results-container-homepage ul,
	.api-results-container ul {
		margin: 0 0.5rem;
		min-width: 300px;
	}

	footer {
		background: url(/images/hexagonal-footer-banner-background_w800xh400.jpg)
			no-repeat center;
		width: 100%;
		min-height: 400px;
	}

	.footer-flexbox {
		width: 95%;
	}
	.col-copyright {
		margin-top: 1.5rem;
	}
	.col-copyright p {
		font-size: 0.7rem;
		margin-top: 1rem;
	}
}
@media all and (min-width: 680px) {
	header {
		background: url(/images/hexagonal-header-banner-background_mobile_w1000xh300.jpg)
			no-repeat center;
		flex-flow: row nowrap;
		min-height: 300px;
		justify-content: space-around;
		align-items: center;
	}

	.back-link-container {
		padding: 0 0 0.4rem 1rem;
		font-size: 1rem;
	}

	footer {
		position: relative;
	}

	.footer-flexbox {
		width: 85%;
		display: flex;
		flex-flow: row-reverse nowrap;
		justify-content: space-between;
		align-content: flex-end;
		position: absolute;
		bottom: 2rem;
	}

	footer.newsalert-sign-up-block {
		justify-content: right;
		margin: 1.5rem 0 0 1.5rem;
		width: 25%;
	}
	.back-to-top {
		margin-bottom: 1.8rem;
	}
	footer.col-copyright {
		width: 60%;
		justify-content: left;
		margin: 1rem 0 0;
	}
	.col-copyright p {
		font-size: 0.8rem;
	}

	.col-3 {
		min-width: 250px;
		margin: 0;
		justify-items: center;
		align-items: center;
	}

	.col-logo,
	.col-3,
	.col-heading {
		max-width: 30%;
	}

	#countdown li {
		font-size: 1.4rem;
		padding: 0 2rem;
	}

	#countdown li span {
		font-size: 4.5rem;
	}

	.countdown-block-container {
		min-height: 150px;
	}
	.text-block-container,
	.api-gallery-homepage,
	.api-gallery,
	.link-block-container {
		width: 85%;
	}
	.link-block-container {
		text-align: center;
	}
	.link-flexbox-wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: 2rem;
	}

	.headerHamburgerMenu {
		display: none;
	}

	.details-flex-wrap {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: space-between;
		align-items: flex-end;
	}
	.details-image-container {
		width: 65%;
	}
	.details-info-container {
		width: 30%;
	}
	.details-result-container {
		padding: 2.5rem;
	}
}
@media all and (min-width: 800px) {
	html {
		height: 100%;
		background-image: url(/images/hexagonal-background_w1600xh3200.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	header {
		align-items: flex-start;
	}

	.jwst-image {
		background: url(/images/header-image-webb_1000x268.jpg) no-repeat center;
		min-height: 268px;
	}

	#countdown li {
		font-size: 1.6rem;
		padding: 0 2rem;
	}

	#countdown li span {
		font-size: 5rem;
	}

	.col-logo a img {
		height: auto;
		width: 250px;
	}
	h2 {
		font-size: 3.2rem;
	}

	footer {
		background: url(/images/hexagonal-footer-banner-background_w1000xh300.jpg)
			no-repeat center;
		width: 100%;
		min-height: 300px;
		padding: 1rem 2rem;
	}
	.footer-flexbox {
		bottom: 1rem;
		width: 95%;
	}
	.col-copyright {
		margin: 3rem 0 0;
		max-width: 60%;
	}
}
@media all and (min-width: 1000px) {
	.jwst-image {
		background: url(/images/header-image-webb_1200x321.jpg) no-repeat center;
		min-height: 321px;
	}

	header {
		background: url(/images/hexagonal-header-banner-background_w1920xh244.jpg)
			no-repeat center;
		min-height: 244px;
	}
	footer {
		background: url(/images/hexagonal-footer-banner-background_w1920xh300.jpg)
			no-repeat center;
	}

	.col-copyright {
		font-size: 0.9rem;
	}

	#countdown li {
		font-size: 1.8rem;
		padding: 0 2rem;
	}

	#countdown li span {
		font-size: 6rem;
	}
	.countdown-block-container {
		min-height: 200px;
	}
	.col-logo {
		margin-left: 2rem;
		width: 25%;
	}

	div.col-3.newsalert-sign-up-block {
		justify-content: right;
		margin: 1.5rem 0 0 1.5rem;
		width: 25%;
	}
	.back-link-container {
		padding: 0.4rem 0 0.4rem 3rem;
	}
	.details-result-container {
		width: 80%;
	}
}
@media all and (min-width: 1200px) {
	.jwst-image {
		background: url(/images/header-image-webb_1520x407.jpg) no-repeat center;
		min-height: 407px;
	}
	h2 {
		font-size: 3.5rem;
	}

	#countdown li {
		font-size: 1.8rem;
		padding: 0 2rem 2rem;
		margin: 0 auto;
	}

	#countdown li span {
		font-size: 7rem;
	}

	.col-copyright p {
		font-size: 1rem;
	}
}
